xsdfiles/dwp-ca-core-v1_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Date = 20 March 2006 Version = 1.9 -->
<!-- Schema for common structures and types used within the DWP Carers Allowance forms -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gds="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" xmlns:bs7666="http://www.govtalk.gov.uk/people/bs7666" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcq="http://purl.org/dc/terms/" xmlns:gms="http://www.govtalk.gov.uk/CM/gms" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.7" id="dwp-ca-core">
	<xsd:annotation>
		<xsd:appinfo>
			<dc:contributor>???</dc:contributor>
			<dc:creator>???
                <dcq:owner>???</dcq:owner>
				<dcq:contact>???</dcq:contact>
			</dc:creator>
			<dc:date>
				<dcq:created>2003-04-04</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2006-03-20</dcq:modified>
			</dc:date>
			<dc:format>text</dc:format>
			<dc:format>
				<dc:medium>http://www.w3.org/2001/XMLSchema</dc:medium>
			</dc:format>
			<dc:format>
				<dc:medium>XML Schema (.xsd) file, W3C Recommendation 2001</dc:medium>
			</dc:format>
			<dc:identifier>dwp-ca-core</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>???</dc:publisher>
			<dc:rights>
				<dcq:copyright>???</dcq:copyright>
				<gms:SecurityClassification>Unclassified</gms:SecurityClassification>
			</dc:rights>
			<dc:subject>
				<gms:Category>???</gms:Category>
			</dc:subject>
			<dc:subject>
				<gms:Project>DWP Carers Allowance</gms:Project>
			</dc:subject>
			<dc:title>DWP Carers Allowance core structures and types</dc:title>
			<dc:description>
				<dcq:abstract>Schema for common structures and types used within the DWP Carers Allowance forms</dcq:abstract>
			</dc:description>
			<dc:relation>
				<dcq:requires>dwp-ca-gds-v1_9</dcq:requires>
			</dc:relation>
			<dc:relation>
				<gms:IsPartOf>dwp-ca-702-v1_9</gms:IsPartOf>
			</dc:relation>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- import types and structures from Technology Policy Team, Office of the e-Envoy, Cabinet Office -->
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="schema/ca/dwp-ca-gds-v1_10.xsd"/>
	<!-- start of header structure -->
	<xsd:complexType name="DWPCAHeaderStructure">
		<xsd:sequence>
			<xsd:element name="TestMessage" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="0"/>
						<xsd:maxInclusive value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Keys" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Key" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="gds:RestrictedStringType">
										<xsd:attribute name="type" type="gds:RestrictedStringType" use="required"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Language" type="gds:LanguageType"/>
			<xsd:element name="DefaultCurrency" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="ISOcurrencyType">
						<xsd:enumeration value="GBP"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Manifest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Reference" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Namespace" type="xsd:anyURI"/>
									<xsd:element name="SchemaVersion" type="gds:RestrictedStringType"/>
									<xsd:element name="TopElementName" type="xsd:NCName"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="TransactionId" type="TransactionNumberType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of header structure -->
	<!-- start of core structures -->
	<xsd:complexType name="AccountStructure">
		<xsd:sequence>
			<xsd:element name="DirectPayment" type="gds:YesNoType"/>
			<xsd:element name="AccountHolder" type="AccountHolderType"/>
			<xsd:element name="HolderName" type="AccountHolderNameType"/>
			<xsd:element name="SecondHolderName" type="OptionalAccountHolderNameType"/>
			<xsd:element name="AccountType" type="AccountQualifierType"/>
			<xsd:element name="OtherBenefitsToBePaidDirect" type="OptionalMediumTextType"/>
			<xsd:choice>
				<xsd:element name="BuildingSocietyDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="BuildingSocietyQualifier" type="BuildingSocietyQualifierType"/>
							<xsd:element name="AccountNumber" type="OptionalAccountNumberType"/>
							<xsd:element name="RollNumber" type="RollNumberType"/>
							<xsd:element name="SortCode" type="OptionalSortCodeType"/>
							<xsd:element name="Name" type="gds:RestrictedStringType"/>
							<xsd:element name="Branch" type="gds:RestrictedStringType"/>
							<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
							<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="BankDetails">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="AccountNumber" type="AccountNumberType"/>
							<xsd:element name="SortCode" type="SortCodeType"/>
							<xsd:element name="Name" type="gds:RestrictedStringType"/>
							<xsd:element name="Branch" type="gds:RestrictedStringType"/>
							<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
							<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AccountantStructure">
		<xsd:sequence>
			<xsd:element name="HasAccountant" type="gds:OptionalYesNoType"/>
			<xsd:element name="ContactAccountant" type="gds:OptionalYesNoType"/>
			<xsd:element name="AccountantDetails" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name" type="gds:CitizenNameRequestedNameType"/>
						<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
						<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
						<xsd:element name="PhoneNumber" type="TelephoneNumberType"/>
						<xsd:element name="FaxNumber" type="TelephoneNumberType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CareBreakStructure">
		<xsd:sequence>
			<xsd:element name="StartDateTime" type="xsd:dateTime"/>
			<xsd:element name="EndDateTime" type="OptionalDateTimeType"/>
			<xsd:element name="Reason" type="LongTextType"/>
			<xsd:element name="MedicalCare" type="gds:YesNoType"/>
			<xsd:element name="AwayFromHome" type="gds:YesNoType"/>
			<xsd:element name="BreakAddress" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
						<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CareExpensesStructure">
		<xsd:sequence>
			<xsd:element name="CarerName" type="gds:CitizenNameRequestedNameType"/>
			<xsd:element name="CarerAddress" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="WeeklyPayment" type="MoneyStructure"/>
			<xsd:element name="RelationshipCarerToClaimant" type="RelationshipType"/>
			<xsd:element name="RelationshipCarerToCaree" type="RelationshipType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ChildCareExpensesStructure">
		<xsd:sequence>
			<xsd:element name="CarerName" type="gds:CitizenNameRequestedNameType"/>
			<xsd:element name="CarerAddress" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="WeeklyPayment" type="MoneyStructure"/>
			<xsd:choice>
				<xsd:element name="RelationshipCarerToClaimant" type="RelationshipType"/>
				<xsd:element name="RelationshipCarerToPartner" type="RelationshipType"/>
			</xsd:choice>
			<xsd:element name="ChildBenefitNumber" type="OptionalChildBenefitNumberType" minOccurs="0"/>
			<xsd:element name="ChildDetails" maxOccurs="6">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name" type="gds:OptionalCitizenNameRequestedNameType"/>
						<xsd:element name="RelationToChild" type="ShortTextType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EmployerDetailsStructure">
		<xsd:sequence>
			<xsd:element name="DateJobStarted" type="gds:DateType"/>
			<xsd:element name="DateJobEnded" type="gds:OptionalDateType" minOccurs="0"/>
			<xsd:element name="DateFirstPaid" type="gds:OptionalDateType" minOccurs="0"/>
			<xsd:element name="JobType" type="JobQualifierType"/>
			<xsd:element name="ClockPayrollNumber" type="PayrollNumberType" minOccurs="0"/>
			<xsd:element name="Name" type="ShortTextType"/>
			<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="EmployersPhoneNumber" type="TelephoneNumberType"/>
			<xsd:element name="EmployersFaxNumber" type="TelephoneNumberType"/>
			<xsd:element name="WagesDepartment" type="OptionalShortTextType" minOccurs="0"/>
			<xsd:element name="DepartmentPhoneFaxNumber" type="TelephoneNumberType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JobExpensesStructure">
		<xsd:sequence>
			<xsd:element name="Expense" type="OptionalShortTextType"/>
			<xsd:element name="Reason" type="OptionalShortTextType"/>
			<xsd:element name="WeeklyPayment" type="OptionalMoneyStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MoneyOwedStructure">
		<xsd:sequence>
			<xsd:element name="Payment" type="MoneyStructure" minOccurs="0"/>
			<xsd:element name="Period" type="PeriodStructure" minOccurs="0"/>
			<xsd:element name="Reason" type="LongTextType" minOccurs="0"/>
			<xsd:element name="PaymentDueDate" type="gds:DateType" minOccurs="0"/>
			<xsd:element name="PaymentExpected" type="OptionalShortTextType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayStructure">
		<xsd:sequence>
			<xsd:element name="WeeklyHoursWorked" type="WeeklyHoursType" minOccurs="0"/>
			<xsd:element name="DateLastWorked" type="gds:OptionalDateType" minOccurs="0"/>
			<xsd:element name="DateLastPaid" type="gds:OptionalDateType"/>
			<xsd:element name="GrossPayment" type="OptionalMoneyStructure"/>
			<xsd:element name="IncludedInWage" type="OptionalLongTextType"/>
			<xsd:element name="PayPeriod" type="OptionalPeriodStructure"/>
			<xsd:element name="PayFrequency" type="gds:RestrictedStringType"/>
			<xsd:element name="PayFrequencyOther" type="gds:RestrictedStringType"/>
			<xsd:element name="UsualPayDay" type="ShortTextType"/>
			<xsd:element name="VaryingEarnings" type="gds:YesNoType"/>
			<xsd:element name="PaidForHolidays" type="gds:OptionalYesNoType" minOccurs="0"/>
			<xsd:element name="PaidWhenSick" type="gds:OptionalYesNoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PensionSchemeStructure">
		<xsd:sequence>
			<xsd:element name="Type" type="PensionSchemeType"/>
			<xsd:element name="Payment" type="MoneyStructure"/>
			<xsd:element name="Frequency" type="FrequencyType"/>
			<xsd:element name="PaymentStartDate" type="gds:DateType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropertyDetailsStructure">
		<xsd:sequence>
			<xsd:element name="NumberOfProperties" type="xsd:string"/>
			<xsd:element name="ConsiderBusiness" type="gds:OptionalYesNoType"/>
			<xsd:element name="AcquirementMethod" type="xsd:string"/>
			<xsd:element name="ReasonForBuying" type="xsd:string"/>
			<xsd:element name="SmallEarningsExemptionCertificate" type="gds:OptionalYesNoType"/>
			<xsd:element name="Accountant" type="OptionalAccountantStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartnerPropertyDetailsStructure">
		<xsd:sequence>
			<xsd:element name="NumberOfProperties" type="xsd:string"/>
			<xsd:element name="ConsiderBusiness" type="gds:OptionalYesNoType"/>
			<xsd:element name="AcquirementMethod" type="xsd:string"/>
			<xsd:element name="ReasonForBuying" type="xsd:string"/>
			<xsd:element name="SmallEarningsExemptionCertificate" type="gds:OptionalYesNoType"/>
			<xsd:element name="HasAccountant" type="gds:OptionalYesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RecentTradingStructure">
		<xsd:complexContent>
			<xsd:extension base="TradingStructure">
				<xsd:sequence>
					<xsd:element name="DateEnded" type="gds:DateType"/>
					<xsd:element name="TradingCeased" type="gds:OptionalYesNoType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextBlockStructure">
		<xsd:sequence>
			<xsd:element name="TextLine" type="gds:RestrictedStringType" minOccurs="0" maxOccurs="99"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ThirdPartyStructure">
		<xsd:sequence>
			<xsd:element name="Surname" type="gds:CitizenNameSurnameType" minOccurs="0"/>
			<xsd:element name="OtherNames" type="gds:CitizenNameForenameType" minOccurs="0"/>
			<xsd:element name="OrganisationName" type="OrganisationNameType" minOccurs="0"/>
			<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure" minOccurs="0"/>
			<xsd:element name="DaytimePhone" type="TelephoneNumberType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TradingStructure">
		<xsd:sequence>
			<xsd:element name="DateStarted" type="gds:DateType"/>
			<xsd:element name="NatureOfBusiness" type="OptionalShortTextType"/>
			<xsd:element name="TradingYear" type="OptionalPeriodStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of core structures -->
	<!-- start of core complexTypes -->
	<xsd:complexType name="MoneyStructure">
		<xsd:sequence>
			<xsd:element name="Currency" type="ISOcurrencyType"/>
			<xsd:element name="Amount" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartialPeriodStructure">
		<xsd:sequence>
			<xsd:element name="DateFrom" type="PartialDateType"/>
			<xsd:element name="DateTo" type="PartialDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodStructure">
		<xsd:sequence>
			<xsd:element name="DateFrom" type="gds:DateType"/>
			<xsd:element name="DateTo" type="gds:DateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TelephoneDetailsStructure">
		<xsd:sequence>
			<xsd:element name="Number" type="TelephoneNumberType"/>
			<xsd:element name="Qualifier" type="TelephoneQualifierType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of core complexTypes -->
	<!-- start of core simpleTypes -->
	<xsd:simpleType name="AccountQualifierType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="bank"/>
			<xsd:enumeration value="buildingSociety"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccountHolderType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="yourName"/>
			<xsd:enumeration value="partner"/>
			<xsd:enumeration value="bothNames"/>
			<xsd:enumeration value="onBehalfOfYou"/>
			<xsd:enumeration value="allNames"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccountHolderNameType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccountNumberType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="6"/>
			<xsd:maxLength value="22"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AccountQuestionType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="appliedForAccount"/>
			<xsd:enumeration value="bankBuildingAccount"/>
			<xsd:enumeration value="notOpenAccount"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BuildingSocietyQualifierType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="current"/>
			<xsd:enumeration value="ordinary"/>
			<xsd:enumeration value="safewise"/>
			<xsd:enumeration value="special"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CareeChangeReasonType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="stoppedCaring"/>
			<xsd:enumeration value="careeDied"/>
			<xsd:enumeration value="paymentReduced"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ChildBenefitNumberType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="10"/>
			<xsd:maxLength value="10"/>
			<xsd:pattern value="[5-9][0-9]{7}[A-Za-z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CitizenTitleType">
		<xsd:restriction base="gds:CitizenNameTitleType">
			<xsd:enumeration value="dame"/>
			<xsd:enumeration value="dr"/>
			<xsd:enumeration value="lady"/>
			<xsd:enumeration value="lord"/>
			<xsd:enumeration value="miss"/>
			<xsd:enumeration value="mr"/>
			<xsd:enumeration value="mrs"/>
			<xsd:enumeration value="ms"/>
			<xsd:enumeration value="rev"/>
			<xsd:enumeration value="sir"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourseQualifierType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CourseTitleType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DefaultCurrencyType">
		<xsd:restriction base="ISOcurrencyType">
			<xsd:enumeration value="GBP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EmailAddressType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9!#$%^&amp;*_\-+=|{}'&quot;./?]{1,64}@(([a-zA-Z0-9]{1}[a-zA-Z0-9.\-]{0,247}[a-zA-Z0-9]{1})|([a-zA-Z0-9]{1}))\.[a-zA-Z]{2,5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrequencyType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="01"/>
			<xsd:enumeration value="02"/>
			<xsd:enumeration value="03"/>
			<xsd:enumeration value="04"/>
			<xsd:enumeration value="05"/>
			<xsd:enumeration value="06"/>
			<xsd:enumeration value="07"/>
			<xsd:enumeration value="08"/>
			<xsd:enumeration value="09"/>
			<xsd:enumeration value="10"/>
			<xsd:enumeration value="11"/>
			<xsd:enumeration value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ISOcurrencyType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="EUR"/>
			<xsd:enumeration value="GBP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="JobQualifierType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LongTextType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="500"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MediumTextType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NationalityType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OrganisationNameType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PartialDateType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentFrequencyType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="everyWeek"/>
			<xsd:enumeration value="fourWeekly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PayrollNumberType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PensionSchemeType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="occupational"/>
			<xsd:enumeration value="personal_private"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PercentageType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="adoptedDaughter"/>
			<xsd:enumeration value="adoptedSon"/>
			<xsd:enumeration value="aunt"/>
			<xsd:enumeration value="brother"/>
			<xsd:enumeration value="brotherInLaw"/>
			<xsd:enumeration value="daughter"/>
			<xsd:enumeration value="daughterInLaw"/>
			<xsd:enumeration value="father"/>
			<xsd:enumeration value="fatherInLaw"/>
			<xsd:enumeration value="friend"/>
			<xsd:enumeration value="grandDaughter"/>
			<xsd:enumeration value="grandFather"/>
			<xsd:enumeration value="grandMother"/>
			<xsd:enumeration value="grandSon"/>
			<xsd:enumeration value="greatGrandDaughter"/>
			<xsd:enumeration value="greatGrandFather"/>
			<xsd:enumeration value="greatGrandMother"/>
			<xsd:enumeration value="greatGrandSon"/>
			<xsd:enumeration value="halfBrother"/>
			<xsd:enumeration value="halfSister"/>
			<xsd:enumeration value="husband"/>
			<xsd:enumeration value="mother"/>
			<xsd:enumeration value="motherInLaw"/>
			<xsd:enumeration value="nephew"/>
			<xsd:enumeration value="niece"/>
			<xsd:enumeration value="partner"/>
			<xsd:enumeration value="sister"/>
			<xsd:enumeration value="sisterInLaw"/>
			<xsd:enumeration value="son"/>
			<xsd:enumeration value="sonInLaw"/>
			<xsd:enumeration value="stepBrother"/>
			<xsd:enumeration value="stepDaughter"/>
			<xsd:enumeration value="stepFather"/>
			<xsd:enumeration value="stepMother"/>
			<xsd:enumeration value="stepSister"/>
			<xsd:enumeration value="stepSon"/>
			<xsd:enumeration value="uncle"/>
			<xsd:enumeration value="wife"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RelationshipClaimantToAdultType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="personMarriedTo"/>
			<xsd:enumeration value="partner"/>
			<xsd:enumeration value="otherAdult"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RollNumberType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ShortTextType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SortCodeType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:pattern value="[0-9]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneNumberType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TelephoneQualifierType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:enumeration value="fax"/>
			<xsd:enumeration value="mobile"/>
			<xsd:enumeration value="textphone"/>
			<xsd:enumeration value="work"/>
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ThreeDigitNumberType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionNumberType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:maxLength value="7"/>
			<xsd:pattern value="[2-9A-HJ-NP-Z]{7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VATnumberType">
		<xsd:restriction base="gds:RestrictedStringType">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="WeeklyHoursType">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="168"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- end of core simpleTypes -->
	<!-- start of optional complexTypes -->
	<xsd:complexType name="OptionalAccountantStructure">
		<xsd:sequence>
			<xsd:element name="HasAccountant" type="gds:OptionalYesNoType"/>
			<xsd:element name="ContactAccountant" type="gds:OptionalYesNoType"/>
			<xsd:element name="AccountantDetails" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Name" type="xsd:string"/>
						<xsd:element name="Address" type="OptionalAddressStructure"/>
						<xsd:element name="ConfirmAddress" type="gds:OptionalYesNoType"/>
						<xsd:element name="PhoneNumber" type="xsd:string"/>
						<xsd:element name="FaxNumber" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalAddressStructure">
		<xsd:sequence>
			<xsd:element name="Line" type="xsd:string" minOccurs="4" maxOccurs="4"/>
			<xsd:element name="PostCode" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalMoneyStructure">
		<xsd:sequence>
			<xsd:element name="Currency" type="OptionalISOcurrencyType"/>
			<xsd:element name="Amount" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalPeriodStructure">
		<xsd:sequence>
			<xsd:element name="DateFrom" type="gds:OptionalDateType"/>
			<xsd:element name="DateTo" type="gds:OptionalDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of optional complexTypes -->
	<!-- start of optional simpleTypes -->
	<xsd:simpleType name="OptionalAccountHolderNameType">
		<xsd:union memberTypes="AccountHolderNameType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalAccountNumberType">
		<xsd:union memberTypes="AccountNumberType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalChildBenefitNumberType">
		<xsd:union memberTypes="ChildBenefitNumberType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalCitizenTitleType">
		<xsd:union memberTypes="CitizenTitleType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalCountryType">
		<xsd:union memberTypes="CountryType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalDateTimeType">
		<xsd:union memberTypes="xsd:dateTime gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalEmailAddressType">
		<xsd:union memberTypes="EmailAddressType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalISOcurrencyType">
		<xsd:union memberTypes="ISOcurrencyType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalLongTextType">
		<xsd:union memberTypes="LongTextType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalMediumTextType">
		<xsd:union memberTypes="MediumTextType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalNationalityType">
		<xsd:union memberTypes="NationalityType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalRelationshipType">
		<xsd:union memberTypes="RelationshipType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalShortTextType">
		<xsd:union memberTypes="ShortTextType gds:EmptyStringType"/>
	</xsd:simpleType>
	<xsd:simpleType name="OptionalSortCodeType">
		<xsd:union memberTypes="SortCodeType gds:EmptyStringType"/>
	</xsd:simpleType>
	<!-- end of optional simpleTypes -->
</xsd:schema>
