xsdfiles/dwp-ca-claim-v1_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Date = 20 March 2006 Version = 1.9 -->
<!-- Schema for the DWP Carers Allowance Claim form -->
<xsd:schema xmlns="http://www.govtalk.gov.uk/dwp/ca/claim" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gds="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcq="http://purl.org/dc/terms/" xmlns:gms="http://www.govtalk.gov.uk/CM/gms" targetNamespace="http://www.govtalk.gov.uk/dwp/ca/claim" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.7" id="dwp-ca-claim">
	<xsd:annotation>
		<xsd:appinfo>
			<dc:contributor>???</dc:contributor>
			<dc:creator>???
                <dcq:owner>???</dcq:owner>
				<dcq:contact>???</dcq:contact>
			</dc:creator>
			<dc:date>
				<dcq:created>2003-04-04</dcq:created>
			</dc:date>
			<dc:date>
				<dcq:modified>2006-03-20</dcq:modified>
			</dc:date>
			<dc:format>text</dc:format>
			<dc:format>
				<dc:medium>http://www.w3.org/2001/XMLSchema</dc:medium>
			</dc:format>
			<dc:format>
				<dc:medium>XML Schema (.xsd) file, W3C Recommendation 2001</dc:medium>
			</dc:format>
			<dc:identifier>dwp-ca-claim</dc:identifier>
			<dc:language>en</dc:language>
			<dc:publisher>???</dc:publisher>
			<dc:rights>
				<dcq:copyright>???</dcq:copyright>
				<gms:SecurityClassification>Unclassified</gms:SecurityClassification>
			</dc:rights>
			<dc:subject>
				<gms:Category>???</gms:Category>
			</dc:subject>
			<dc:subject>
				<gms:Project>DWP Carers Allowance</gms:Project>
			</dc:subject>
			<dc:title>DWP Carers Allowance Claim schema</dc:title>
			<dc:description>
				<dcq:abstract>Schema for the DWP Carers Allowance Claim form</dcq:abstract>
			</dc:description>
			<dc:relation>
				<dcq:requires>xmldsig-core-schema</dcq:requires>
			</dc:relation>
			<dc:relation>
				<dcq:requires>dwp-ca-gds-v1_9</dcq:requires>
			</dc:relation>
			<dc:relation>
				<gms:HasPart>dwp-ca-702-v1_9</gms:HasPart>
			</dc:relation>
			<dc:relation>
				<gms:HasPart>dwp-ca-core-v1_9</gms:HasPart>
			</dc:relation>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- include the 702 schema -->
	<xsd:include schemaLocation="schema/ca/dwp-ca-702-v1_10.xsd"/>
	<!-- include the core schema -->
	<xsd:include schemaLocation="schema/ca/dwp-ca-core-v1_10.xsd"/>
	<!-- import types and structures from Technology Policy Team, Office of the e-Envoy, Cabinet Office -->
	<xsd:import namespace="http://www.govtalk.gov.uk/people/AddressAndPersonalDetails" schemaLocation="schema/ca/dwp-ca-gds-v1_10.xsd"/>
	<!-- import types and structures from W3C with respect to digital signatures -->
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="schema/ca/xmldsig-core-schema.xsd"/>
	<!-- start of DWPBody type definition -->
	<xsd:element name="DWPBody" type="DWPBodyStructure"/>
	<xsd:complexType name="DWPBodyStructure">
		<xsd:sequence>
			<xsd:element name="DWPEnvelope">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DWPCAHeader" type="DWPCAHeaderStructure"/>
						<xsd:element name="DWPCAClaim" type="DWPCAClaimStructure"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ref="dsig:Signature"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DWPCAClaimStructure">
		<xsd:sequence>
			<xsd:element name="Claimant" type="ClaimantStructure"/>
			<xsd:element name="Caree" type="CareeStructure"/>
			<xsd:element name="ClaimADI" type="gds:YesNoType"/>
			<xsd:element name="ExtraMoneyForAdult" type="CA702" minOccurs="0"/>
			<xsd:element name="Residency" type="ResidencyStructure"/>
			<xsd:element name="CourseOfEducation" type="gds:YesNoType"/>
			<xsd:element name="FullTimeEducation" type="FullTimeEducationStructure" minOccurs="0"/>
			<xsd:element name="SelfEmployed" type="gds:YesNoType"/>
			<xsd:element name="SelfEmployment" type="SelfEmploymentStructure" minOccurs="0"/>
			<xsd:element name="Employed" type="gds:YesNoType"/>
			<xsd:element name="Employment" type="EmploymentStructure" minOccurs="0"/>
			<xsd:element name="PropertyRentedOut" type="PropertyRentedOutStructure"/>
			<xsd:element name="HavePartner" type="gds:YesNoType"/>
			<xsd:element name="Partner" type="PartnerStructure" minOccurs="0"/>
			<xsd:element name="OtherBenefits" type="OtherBenefitsStructure"/>
			<xsd:element name="Payment" type="PaymentStructure"/>
			<xsd:element name="OtherInformation" type="gds:RestrictedStringType" minOccurs="0"/>
			<xsd:element name="ThirdParty" type="gds:YesNoType"/>
			<xsd:element name="ThirdPartyDetails" type="ThirdPartyStructure" minOccurs="0"/>
			<xsd:element name="Declaration" type="TextBlockStructure"/>
			<xsd:element name="EvidenceList" type="TextBlockStructure"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="gds:RestrictedStringType"/>
	</xsd:complexType>
	<!-- end of DWPBody type definition -->
	<!-- start of ClaimantStructure type definition -->
	<xsd:complexType name="ClaimantStructure">
		<xsd:sequence>
			<xsd:element name="DateOfClaim" type="gds:DateType"/>
			<xsd:element name="Surname" type="gds:CitizenNameSurnameType"/>
			<xsd:element name="OtherNames" type="gds:CitizenNameForenameType"/>
			<xsd:element name="OtherSurnames" type="gds:OptionalCitizenNameSurnameType" maxOccurs="2"/>
			<xsd:element name="Title" type="CitizenTitleType"/>
			<xsd:element name="MaritalStatus" type="gds:OptionalMaritalStatusType"/>
			<xsd:element name="DateOfBirth" type="gds:DateType"/>
			<xsd:element name="NationalInsuranceNumber" type="gds:OptionalNationalInsuranceNumberType"/>
			<xsd:element name="ExistingNationalInsuranceNumber" type="gds:OptionalYesNoType"/>
			<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="HomePhoneNumber" type="TelephoneNumberType"/>
			<xsd:element name="DaytimePhoneNumber" type="TelephoneDetailsStructure"/>
			<xsd:element name="EmailAddress" type="OptionalEmailAddressType"/>
			<xsd:element name="ClaimedBefore" type="gds:YesNoType"/>
			<xsd:element name="PreviousClaim" type="PreviousClaimStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreviousClaimStructure">
		<xsd:sequence>
			<xsd:element name="DateOfClaim" type="gds:OptionalDateType"/>
			<xsd:element name="CarersAllowancePaid" type="gds:OptionalYesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of ClaimantStructure type definition -->
	<!-- start of CareeStructure type definition -->
	<xsd:complexType name="CareeStructure">
		<xsd:sequence>
			<xsd:element name="Surname" type="gds:CitizenNameSurnameType"/>
			<xsd:element name="OtherNames" type="gds:CitizenNameForenameType"/>
			<xsd:element name="Title" type="CitizenTitleType"/>
			<xsd:element name="DateOfBirth" type="gds:OptionalDateType"/>
			<xsd:element name="NationalInsuranceNumber" type="gds:OptionalNationalInsuranceNumberType"/>
			<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="HomePhoneNumber" type="TelephoneNumberType"/>
			<xsd:element name="DaytimePhoneNumber" type="TelephoneDetailsStructure"/>
			<xsd:element name="RelationToClaimant" type="RelationshipType"/>
			<xsd:element name="Cared35hours" type="gds:YesNoType"/>
			<xsd:element name="CanCareeSign" type="gds:YesNoType"/>
			<xsd:element name="CanSomeoneElseSign" type="gds:YesNoType"/>
			<xsd:element name="CanClaimantSign" type="gds:YesNoType"/>
			<xsd:element name="ClaimantActingType" type="ActingStructure" minOccurs="0"/>
			<xsd:element name="BreaksSinceClaim" type="gds:YesNoType"/>
			<xsd:element name="CareBreak" type="CareBreakStructure" minOccurs="0" maxOccurs="10"/>
			<xsd:element name="Cared35hoursBefore" type="gds:YesNoType"/>
			<xsd:element name="DateStartedCaring" type="gds:DateType" minOccurs="0"/>
			<xsd:element name="BreaksBeforeClaim" type="gds:YesNoType" minOccurs="0"/>
			<xsd:element name="EarlierCareBreak" type="CareBreakStructure" minOccurs="0" maxOccurs="10"/>
			<xsd:element name="PaidForCaring" type="gds:YesNoType"/>
			<xsd:element name="PayReceived" type="PayReceivedStructure" minOccurs="0"/>
			<xsd:element name="ClaimedPreviously" type="gds:YesNoType"/>
			<xsd:element name="PreviousClaimant" type="PreviousClaimantStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActingStructure">
		<xsd:sequence>
			<xsd:element name="ParentOrGuardian" type="gds:OptionalYesNoType"/>
			<xsd:element name="PowerOfAttorney" type="gds:OptionalYesNoType"/>
			<xsd:element name="Appointee" type="gds:OptionalYesNoType"/>
			<xsd:element name="JudicialFactor" type="gds:OptionalYesNoType"/>
			<xsd:element name="Receiver" type="gds:OptionalYesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PayReceivedStructure">
		<xsd:sequence>
			<xsd:element name="PayerName" type="gds:CitizenNameRequestedNameType"/>
			<xsd:element name="PayerAddress" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="Payment" type="MoneyStructure"/>
			<xsd:element name="DatePaymentStarted" type="gds:DateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PreviousClaimantStructure">
		<xsd:sequence>
			<xsd:element name="Surname" type="gds:CitizenNameSurnameType"/>
			<xsd:element name="OtherNames" type="gds:CitizenNameForenameType"/>
			<xsd:element name="DateOfBirth" type="gds:OptionalDateType"/>
			<xsd:element name="NationalInsuranceNumber" type="gds:OptionalNationalInsuranceNumberType"/>
			<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of CareeStructure type definition -->
	<!-- start of ResidencyStructure type definition -->
	<xsd:complexType name="ResidencyStructure">
		<xsd:sequence>
			<xsd:element name="Nationality" type="NationalityType"/>
			<xsd:element name="EUEEASwissNational" type="gds:YesNoType"/>
			<xsd:element name="CountryNormallyLive" type="CountryType"/>
			<xsd:element name="CountryNormallyLiveOther" type="gds:RestrictedStringType"/>
			<xsd:element name="InGreatBritainNow" type="gds:YesNoType"/>
			<xsd:element name="InGreatBritain26Weeks" type="gds:YesNoType"/>
			<xsd:element name="PeriodAbroadLastYear" type="PeriodAbroadLastYearStructure" minOccurs="0" maxOccurs="5"/>
			<xsd:element name="BritishOverseasPassport" type="gds:YesNoType"/>
			<xsd:element name="OtherNationality" type="OtherNationalityStructure" minOccurs="0"/>
			<xsd:element name="StayInGreatBritain" type="StayInGreatBritainStructure" minOccurs="0"/>
			<xsd:element name="OutOfGreatBritain" type="gds:YesNoType"/>
			<xsd:element name="PeriodAbroadDuringCare" type="PeriodAbroadDuringCareStructure" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodAbroadLastYearStructure">
		<xsd:sequence>
			<xsd:element name="Period" type="OptionalPeriodStructure"/>
			<xsd:element name="Reason" type="OptionalShortTextType"/>
			<xsd:element name="Country" type="OptionalCountryType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OtherNationalityStructure">
		<xsd:sequence>
			<xsd:element name="EUEEASwissNationalChildren" type="gds:OptionalYesNoType"/>
			<xsd:element name="DateArrivedInGreatBritain" type="gds:DateType"/>
			<xsd:element name="CountryArrivedFrom" type="OptionalCountryType"/>
			<xsd:element name="IntendToReturn" type="gds:YesNoType"/>
			<xsd:element name="DateReturn" type="PartialDateType"/>
			<xsd:element name="VisaReferenceNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StayInGreatBritainStructure">
		<xsd:sequence>
			<xsd:element name="StayingPurpose" type="xsd:string"/>
			<xsd:element name="IntendToStay" type="gds:OptionalYesNoType"/>
			<xsd:element name="StayDetails" type="StayDetailsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StayDetailsStructure">
		<xsd:sequence>
			<xsd:element name="StayPeriodYears" type="xsd:string"/>
			<xsd:element name="StayPeriodMonths" type="xsd:string"/>
			<xsd:element name="HomeFurnitureAbroad" type="gds:OptionalYesNoType"/>
			<xsd:element name="PossessionsAbroad" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PeriodAbroadDuringCareStructure">
		<xsd:sequence>
			<xsd:element name="Period" type="PartialPeriodStructure"/>
			<xsd:element name="Reason" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of ResidencyStructure type definition -->
	<!-- start of FullTimeEducationStructure type definition -->
	<xsd:complexType name="FullTimeEducationStructure">
		<xsd:sequence>
			<xsd:element name="CourseDetails" type="CourseDetailsStructure" minOccurs="0"/>
			<xsd:element name="LocationDetails" type="LocationDetailsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CourseDetailsStructure">
		<xsd:sequence>
			<xsd:element name="Type" type="CourseQualifierType"/>
			<xsd:element name="Title" type="CourseTitleType"/>
			<xsd:element name="HoursSpent" type="gds:RestrictedStringType"/>
			<xsd:element name="DateStarted" type="gds:OptionalDateType"/>
			<xsd:element name="DateStopped" type="gds:OptionalDateType"/>
			<xsd:element name="ExpectedEndDate" type="gds:OptionalDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocationDetailsStructure">
		<xsd:sequence>
			<xsd:element name="Name" type="OptionalShortTextType"/>
			<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="PhoneNumber" type="TelephoneNumberType"/>
			<xsd:element name="FaxNumber" type="TelephoneNumberType"/>
			<xsd:element name="StudentReferenceNumber" type="gds:RestrictedStringType"/>
			<xsd:element name="Tutor" type="OptionalShortTextType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of FullTimeEducationStructure type definition -->
	<!-- start of SelfEmploymentStructure type definition -->
	<xsd:complexType name="SelfEmploymentStructure">
		<xsd:sequence>
			<xsd:element name="SelfEmployedNow" type="gds:YesNoType"/>
			<xsd:choice>
				<xsd:element name="RecentJobDetails" type="RecentTradingStructure"/>
				<xsd:element name="CurrentJobDetails" type="TradingStructure"/>
			</xsd:choice>
			<xsd:element name="Accountant" type="AccountantStructure"/>
			<xsd:element name="CareExpensesChildren" type="gds:YesNoType"/>
			<xsd:element name="ChildCareExpenses" type="ChildCareExpensesStructure" minOccurs="0"/>
			<xsd:element name="CareExpensesCaree" type="gds:YesNoType"/>
			<xsd:element name="CareExpenses" type="CareExpensesStructure" minOccurs="0"/>
			<xsd:element name="PaidForPension" type="gds:YesNoType"/>
			<xsd:element name="PensionScheme" type="PensionSchemeStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of SelfEmploymentStructure type definition -->
	<!-- start of EmploymentStructure type definition -->
	<xsd:complexType name="EmploymentStructure">
		<xsd:sequence>
			<xsd:element name="CurrentlyEmployed" type="gds:YesNoType"/>
			<xsd:element name="DateLastWorked" type="gds:OptionalDateType" minOccurs="0"/>
			<xsd:element name="JobDetails" type="JobDetailsStructure" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JobDetailsStructure">
		<xsd:sequence>
			<xsd:element name="Employer" type="EmployerDetailsStructure"/>
			<xsd:element name="Pay" type="PayStructure"/>
			<xsd:element name="OtherThanMoney" type="gds:YesNoType"/>
			<xsd:element name="PayOtherThanMoney" type="LongTextType" minOccurs="0"/>
			<xsd:element name="OweMoney" type="gds:YesNoType"/>
			<xsd:element name="MoneyOwed" type="MoneyOwedStructure" minOccurs="0"/>
			<xsd:element name="CareExpensesChildren" type="gds:YesNoType"/>
			<xsd:element name="ChildCareExpenses" type="ChildCareExpensesStructure" minOccurs="0"/>
			<xsd:element name="CareExpensesCaree" type="gds:YesNoType"/>
			<xsd:element name="CareExpenses" type="CareExpensesStructure" minOccurs="0"/>
			<xsd:element name="PaidForOccupationalPension" type="gds:YesNoType"/>
			<xsd:element name="PensionScheme" type="PensionSchemeStructure" minOccurs="0"/>
			<xsd:element name="PaidForPersonalPension" type="gds:YesNoType"/>
			<xsd:element name="PensionScheme" type="PensionSchemeStructure" minOccurs="0"/>
			<xsd:element name="PaidForJobExpenses" type="gds:YesNoType"/>
			<xsd:element name="JobExpenses" type="JobExpensesStructure" minOccurs="0" maxOccurs="4"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of EmploymentStructure type definition -->
	<!-- start of PropertyRentedOutStructure type definition -->
	<xsd:complexType name="PropertyRentedOutStructure">
		<xsd:sequence>
			<xsd:element name="PayNationalInsuranceContributions" type="gds:OptionalYesNoType" minOccurs="0"/>
			<xsd:element name="RentOutProperty" type="gds:YesNoType"/>
			<xsd:element name="PropertyDetails" type="PropertyDetailsStructure" minOccurs="0"/>
			<xsd:element name="SubletHome" type="gds:YesNoType"/>
			<xsd:element name="SublettingDetails" type="SublettingDetailsStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SublettingDetailsStructure">
		<xsd:sequence>
			<xsd:element name="NumberOfTenants" type="xsd:string"/>
			<xsd:element name="TotalRent" type="OptionalMoneyStructure"/>
			<xsd:element name="PaymentFrequency" type="xsd:string"/>
			<xsd:element name="PaymentFrequencyOther" type="xsd:string"/>
			<xsd:element name="RentIncludesHeating" type="gds:OptionalYesNoType"/>
			<xsd:element name="PrepareMeals" type="gds:OptionalYesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of PropertyRentedOutStructure type definition -->
	<!-- start of PartnerStructure type definition -->
	<xsd:complexType name="PartnerStructure">
		<xsd:sequence>
			<xsd:element name="NationalityPartner" type="OptionalNationalityType"/>
			<xsd:element name="Surname" type="gds:CitizenNameSurnameType"/>
			<xsd:element name="OtherNames" type="gds:CitizenNameForenameType"/>
			<xsd:element name="OtherSurnames" type="gds:OptionalCitizenNameSurnameType" maxOccurs="2"/>
			<xsd:element name="Title" type="CitizenTitleType"/>
			<xsd:element name="DateOfBirth" type="gds:DateType"/>
			<xsd:element name="NationalInsuranceNumber" type="gds:OptionalNationalInsuranceNumberType"/>
			<xsd:element name="Address" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="RelationshipStatus" type="RelationshipStatusStructure"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RelationshipStatusStructure">
		<xsd:sequence>
			<xsd:element name="JoinedHouseholdAfterDateOfClaim" type="gds:YesNoType"/>
			<xsd:element name="JoinedHouseholdDate" type="gds:OptionalDateType"/>
			<xsd:element name="SeparatedFromPartner" type="gds:YesNoType"/>
			<xsd:element name="SeparationDate" type="gds:OptionalDateType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of PartnerStructure type definition -->
	<!-- start of OtherBenefitsStructure type definition -->
	<xsd:complexType name="OtherBenefitsStructure">
		<xsd:sequence>
			<xsd:element name="ClaimantBenefits" type="ClaimantBenefitsStructure"/>
			<xsd:element name="PartnerBenefits" type="PartnerBenefitsStructure" minOccurs="0"/>
			<xsd:element name="ExtraMoney" type="gds:YesNoType"/>
			<xsd:element name="ExtraMoneyDetails" type="ExtraMoneyDetailsStructure" minOccurs="0"/>
			<xsd:element name="OtherMoneySSP" type="gds:YesNoType"/>
			<xsd:element name="OtherMoneySSPDetails" type="SSPSMPStructure" minOccurs="0"/>
			<xsd:element name="OtherMoneySMP" type="gds:YesNoType"/>
			<xsd:element name="OtherMoneySMPDetails" type="SSPSMPStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ClaimantBenefitsStructure">
		<xsd:sequence>
			<xsd:element name="JobseekersAllowance" type="gds:YesNoType"/>
			<xsd:element name="IncomeSupport" type="gds:YesNoType"/>
			<xsd:element name="PensionCredit" type="gds:YesNoType"/>
			<xsd:element name="StatePension" type="gds:YesNoType"/>
			<xsd:element name="IncapacityBenefit" type="gds:YesNoType"/>
			<xsd:element name="SevereDisablementAllowance" type="gds:YesNoType"/>
			<xsd:element name="MaternityAllowance" type="gds:YesNoType"/>
			<xsd:element name="UnemployabilitySupplement" type="gds:YesNoType"/>
			<xsd:element name="WindowsBenefit" type="gds:YesNoType"/>
			<xsd:element name="WarWidowsPension" type="gds:YesNoType"/>
			<xsd:element name="IndustrialDeathBenefit" type="gds:YesNoType"/>
			<xsd:element name="GovernmentTrainingAllowance" type="gds:YesNoType"/>
			<xsd:element name="LoneParentChildBenefit" type="gds:YesNoType"/>
			<xsd:element name="OtherSocialSecurityBenefit" type="gds:YesNoType"/>
			<xsd:element name="NonSocialSecurityBenefit" type="gds:YesNoType"/>
			<xsd:element name="NoBenefits" type="gds:YesNoType"/>
			<xsd:element name="SocialSecurityBenefit" type="SocialSecurityBenefitStructure" minOccurs="0" maxOccurs="14"/>
			<xsd:element name="OtherSocialSecurityBenefitDetails" type="SocialSecurityBenefitStructure" minOccurs="0"/>
			<xsd:element name="OtherBenefit" type="NonSocialSecurityBenefitStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PartnerBenefitsStructure">
		<xsd:sequence>
			<xsd:element name="JobseekersAllowance" type="gds:YesNoType"/>
			<xsd:element name="IncomeSupport" type="gds:YesNoType"/>
			<xsd:element name="PensionCredit" type="gds:YesNoType"/>
			<xsd:element name="StatePension" type="gds:YesNoType"/>
			<xsd:element name="IncapacityBenefit" type="gds:YesNoType"/>
			<xsd:element name="SevereDisablementAllowance" type="gds:YesNoType"/>
			<xsd:element name="MaternityAllowance" type="gds:YesNoType"/>
			<xsd:element name="UnemployabilitySupplement" type="gds:YesNoType"/>
			<xsd:element name="WindowsBenefit" type="gds:YesNoType"/>
			<xsd:element name="WarWidowsPension" type="gds:YesNoType"/>
			<xsd:element name="IndustrialDeathBenefit" type="gds:YesNoType"/>
			<xsd:element name="GovernmentTrainingAllowance" type="gds:YesNoType"/>
			<xsd:element name="OtherSocialSecurityBenefit" type="gds:YesNoType"/>
			<xsd:element name="NonSocialSecurityBenefit" type="gds:YesNoType"/>
			<xsd:element name="NoBenefits" type="gds:YesNoType"/>
			<xsd:element name="SocialSecurityBenefit" type="SocialSecurityBenefitStructure" minOccurs="0" maxOccurs="13"/>
			<xsd:element name="OtherSocialSecurityBenefitDetails" type="SocialSecurityBenefitStructure" minOccurs="0"/>
			<xsd:element name="OtherBenefit" type="NonSocialSecurityBenefitStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SocialSecurityBenefitStructure">
		<xsd:sequence>
			<xsd:element name="BenefitName" type="ShortTextType"/>
			<xsd:element name="ContributionBased" type="gds:YesNoType" minOccurs="0"/>
			<xsd:element name="IncomeBased" type="gds:YesNoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NonSocialSecurityBenefitStructure">
		<xsd:sequence>
			<xsd:element name="BenefitName" type="ShortTextType"/>
			<xsd:element name="BenefitPayerName" type="ShortTextType"/>
			<xsd:element name="BenefitPayerAddress" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtraMoneyDetailsStructure">
		<xsd:sequence>
			<xsd:element name="BenefitName" type="ShortTextType"/>
			<xsd:element name="RecipientName" type="gds:CitizenNameRequestedNameType"/>
			<xsd:element name="RecipientAddress" type="gds:OptionalUKPostalAddressStructure"/>
			<xsd:element name="ConfirmAddress" type="gds:YesNoType"/>
			<xsd:element name="ReferenceNumber" type="gds:RestrictedStringType"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of OtherBenefitsStructure type definition -->
	<!-- start of PaymentStructure type definition -->
	<xsd:complexType name="PaymentStructure">
		<xsd:sequence>
			<xsd:element name="PaymentFrequency" type="PaymentFrequencyType"/>
			<xsd:element name="InitialAccountQuestion" type="AccountQuestionType"/>
			<xsd:element name="Account" type="AccountStructure" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- end of PaymentStructure type definition -->
</xsd:schema>
