c3/test/app/claim/CarersAllowance_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.govtalk.gov.uk/dwp/carers-allowance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           targetNamespace="http://www.govtalk.gov.uk/dwp/carers-allowance" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="dwp-ca">
    <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"
               schemaLocation="schema/ca/xmldsig-core-schema.xsd"/>
    <xs:element name="DWPBody">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Version" type="xs:decimal">
                    <xs:annotation>
                        <xs:documentation>Used to handle several versions of the service. Will be useful during testing phases and later if we open the
                            service.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DWPCATransaction">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TransactionId">
                                <xs:annotation>
                                    <xs:documentation>We should probably increase the size since we want to keep them and use them for data
                                        analysis.</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[2-9A-HJ-NP-Z]{7}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="DateTimeGenerated" type="DateTimeType">
                                <xs:annotation>
                                    <xs:documentation>Can be used when generating PDF and for investigations</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:choice>
                                <xs:element name="DWPCAClaim">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="DateOfClaim" type="QuestionDateType"/>
                                            <xs:element name="Claimant">
                                                <xs:complexType>
                                                    <xs:complexContent>
                                                        <xs:extension base="PersonType">
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" name="MaritalStatus" nillable="false" type="MaritalStatusType"/>
                                                                <xs:element minOccurs="0" name="TextPhoneContact" type="QuestionYesNoType"/>
                                                            </xs:sequence>
                                                        </xs:extension>
                                                    </xs:complexContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Caree">
                                                <xs:complexType>
                                                    <xs:complexContent>
                                                        <xs:extension base="PersonType">
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" name="RelationToClaimant" type="QuestionRelationshipType"/>
                                                                <xs:element minOccurs="0" name="Cared35Hours" type="QuestionYesNoType"/>
                                                                <xs:element minOccurs="0" name="BreaksSinceClaim" type="QuestionYesNoType"/>
                                                                <xs:element maxOccurs="10" minOccurs="0" name="CareBreak">
                                                                    <xs:complexType>
                                                                        <xs:all>
                                                                            <xs:element minOccurs="1" name="StartDateTime" type="DateTimeType"/>
                                                                            <xs:element minOccurs="0" name="EndDateTime" type="DateTimeType"/>
                                                                            <xs:element minOccurs="0" name="ReasonClaimant">
                                                                                <xs:complexType>
                                                                                    <xs:complexContent>
                                                                                        <xs:extension base="QuestionOtherType">
                                                                                            <xs:sequence>
                                                                                                <xs:element name="Answer">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:enumeration value="At Home"/>
                                                                                                            <xs:enumeration value="Hospital"/>
                                                                                                            <xs:enumeration value="Holiday"/>
                                                                                                            <xs:enumeration value="Respite Care"/>
                                                                                                            <xs:enumeration value="Other"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                            </xs:sequence>
                                                                                        </xs:extension>
                                                                                    </xs:complexContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="ReasonCaree">
                                                                                <xs:complexType>
                                                                                    <xs:complexContent>
                                                                                        <xs:extension base="QuestionOtherType">
                                                                                            <xs:sequence>
                                                                                                <xs:element name="Answer">
                                                                                                    <xs:simpleType>
                                                                                                        <xs:restriction base="xs:string">
                                                                                                            <xs:enumeration value="Hospital"/>
                                                                                                            <xs:enumeration value="Respite Care"/>
                                                                                                            <xs:enumeration value="Care Home"/>
                                                                                                            <xs:enumeration value="Nursing Home"/>
                                                                                                            <xs:enumeration value="At Home"/>
                                                                                                            <xs:enumeration value="Other"/>
                                                                                                        </xs:restriction>
                                                                                                    </xs:simpleType>
                                                                                                </xs:element>
                                                                                            </xs:sequence>
                                                                                        </xs:extension>
                                                                                    </xs:complexContent>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                            <xs:element minOccurs="0" name="MedicalCare" type="QuestionYesNoType"/>
                                                                        </xs:all>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="Cared35HoursBefore" type="QuestionYesNoType"/>
                                                                <xs:element minOccurs="0" name="DateStartCaring" type="QuestionDateType"/>
                                                                <xs:element minOccurs="0" name="LiveSameAddress" type="QuestionYesNoType"/>
                                                                <xs:element minOccurs="0" name="ArmedForcesIndependencePayment" type="QuestionYesNoType">
                                                                    <xs:annotation>
                                                                        <xs:documentation>If AFIP then claim is handled by different people.</xs:documentation>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:extension>
                                                    </xs:complexContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Residency">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element minOccurs="0" name="NormallyLiveInGB" type="QuestionYesNoType"/>
                                                        <xs:element minOccurs="0" name="CountryNormallyLive" type="QuestionCountryType"/>
                                                        <xs:element minOccurs="0" name="Nationality" type="CitizenNationalityType"/>
                                                        <xs:element minOccurs="0" name="TimeOutsideGBLast3Years" type="QuestionYesNoType"/>
                                                        <xs:element maxOccurs="20" minOccurs="0" name="PeriodAbroad">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element minOccurs="0" name="Period" type="PeriodType"/>
                                                                    <xs:element minOccurs="0" name="Reason">
                                                                        <xs:complexType>
                                                                            <xs:complexContent>
                                                                                <xs:extension base="QuestionOtherType">
                                                                                    <xs:sequence>
                                                                                        <xs:element name="Answer">
                                                                                            <xs:simpleType>
                                                                                                <xs:restriction base="xs:string">
                                                                                                    <xs:enumeration value="Home"/>
                                                                                                    <xs:enumeration value="Holiday"/>
                                                                                                    <xs:enumeration value="Work"/>
                                                                                                    <xs:enumeration value="Other"/>
                                                                                                </xs:restriction>
                                                                                            </xs:simpleType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                </xs:extension>
                                                                            </xs:complexContent>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element minOccurs="0" name="Country" type="QuestionCountryType"/>
                                                                    <xs:element minOccurs="0" name="CareePresent" type="QuestionYesNoType"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="CourseOfEducation" type="QuestionYesNoType"/>
                                            <xs:element minOccurs="0" name="FullTimeEducation">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element minOccurs="0" name="CourseDetails">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element minOccurs="0" name="Type" type="SixtyTextType"/>
                                                                    <xs:element minOccurs="0" name="Title" type="SixtyTextType"/>
                                                                    <xs:element minOccurs="0" name="DateStarted" type="QuestionDateType"/>
                                                                    <xs:element minOccurs="0" name="DateStopped" type="QuestionDateType"/>
                                                                    <xs:element minOccurs="0" name="ExpectedEndDate" type="QuestionDateType"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="LocationDetails">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element minOccurs="0" name="Name" type="SixtyTextType"/>
                                                                    <xs:element minOccurs="0" name="Address" type="UKPostalAddressType"/>
                                                                    <xs:element minOccurs="0" name="PhoneNumber" type="PhoneNumberType"/>
                                                                    <xs:element minOccurs="0" name="FaxNumber" type="PhoneNumberType"/>
                                                                    <xs:element minOccurs="0" name="StudentReferenceNumber" type="SixtyTextType"/>
                                                                    <xs:element minOccurs="0" name="Tutor" type="CitizenNameType"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="SelfEmployed" type="QuestionYesNoType"/>
                                            <xs:element minOccurs="0" name="SelfEmployment">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element minOccurs="0" name="SelfEmployedNow" type="QuestionYesNoType"/>
                                                        <xs:choice>
                                                            <xs:element minOccurs="0" name="RecentJobDetails">
                                                                <xs:complexType>
                                                                    <xs:complexContent>
                                                                        <xs:extension base="TradingType">
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="DateEnded" type="QuestionDateType"/>
                                                                                <xs:element minOccurs="0" name="TradingCeased" type="QuestionYesNoType"/>
                                                                            </xs:sequence>
                                                                        </xs:extension>
                                                                    </xs:complexContent>
                                                                </xs:complexType>
                                                            </xs:element>
                                                            <xs:element minOccurs="0" name="CurrentJobDetails" type="TradingType"/>
                                                        </xs:choice>
                                                        <xs:element minOccurs="0" name="CareExpensesChildren" type="QuestionYesNoType"/>
                                                        <xs:element minOccurs="0" name="ChildCareExpenses" type="ChildCareExpensesType"/>
                                                        <xs:element minOccurs="0" name="CareExpensesCaree" type="QuestionYesNoType"/>
                                                        <xs:element minOccurs="0" name="CareExpenses" type="CareeCareExpensesType"/>
                                                        <xs:element minOccurs="0" name="PaidForPension" type="QuestionYesNoType"/>
                                                        <xs:element minOccurs="0" name="PensionScheme" type="PaymentWithFrequencyType"> </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Employed" type="QuestionYesNoType"/>
                                            <xs:element maxOccurs="1" minOccurs="0" name="Employment">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element minOccurs="0" name="CurrentlyEmployed" type="QuestionYesNoType"/>
                                                        <xs:element maxOccurs="5" minOccurs="0" name="JobDetails">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element minOccurs="0" name="Employer">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="DateJobStarted" type="QuestionDateType"/>
                                                                                <xs:element minOccurs="0" name="DateJobEnded" type="QuestionDateType"/>
                                                                                <xs:element minOccurs="0" name="JobType" type="QuestionTextType"/>
                                                                                <xs:element minOccurs="0" name="ClockPayrollNumber">
                                                                                    <xs:simpleType>
                                                                                        <xs:restriction base="RestrictedStringType">
                                                                                            <xs:minLength value="1"/>
                                                                                            <xs:maxLength value="16"/>
                                                                                        </xs:restriction>
                                                                                    </xs:simpleType>
                                                                                </xs:element>
                                                                                <xs:element minOccurs="0" name="Name" type="SixtyTextType"/>
                                                                                <xs:element minOccurs="0" name="Address" type="UKPostalAddressType"/>
                                                                                <xs:element minOccurs="0" name="EmployersPhoneNumber" type="PhoneNumberType"/>
                                                                                <xs:element minOccurs="0" name="EmployersFaxNumber" type="PhoneNumberType"/>
                                                                                <xs:element minOccurs="0" name="HaveFinishedJob" type="QuestionYesNoType"/>
                                                                                <xs:element minOccurs="0" name="P45LeavingDate" type="QuestionDateType"/>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element minOccurs="0" name="Pay">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="WeeklyHoursWorked">
                                                                                    <xs:complexType>
                                                                                        <xs:complexContent>
                                                                                            <xs:extension base="QuestionType">
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="Answer" type="NumberHoursType"/>
                                                                                                </xs:sequence>
                                                                                            </xs:extension>
                                                                                        </xs:complexContent>
                                                                                    </xs:complexType>
                                                                                </xs:element>
                                                                                <xs:element minOccurs="0" name="DateLastPaid" type="QuestionDateType"/>
                                                                                <xs:element minOccurs="0" name="GrossPayment" type="QuestionMoneyType"> </xs:element>
                                                                                <xs:element minOccurs="0" name="IncludedInWage" type="QuestionTextType"/>
                                                                                <xs:element minOccurs="0" name="PayFrequency" type="QuestionFrequencyType"/>
                                                                                <xs:element minOccurs="0" name="UsualPayDay" type="QuestionTextType"/>
                                                                                <xs:element minOccurs="0" name="ConstantEarnings" type="QuestionYesNoType"/>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element minOccurs="0" name="OweMoney" type="QuestionYesNoType"/>
                                                                    <xs:element minOccurs="0" name="CareExpensesChildren" type="QuestionYesNoType"/>
                                                                    <xs:element minOccurs="0" name="ChildCareExpenses" type="ChildCareExpensesType"> </xs:element>
                                                                    <xs:element minOccurs="0" name="CareExpensesCaree" type="QuestionYesNoType"/>
                                                                    <xs:element minOccurs="0" name="CareExpenses" type="CareeCareExpensesType"/>
                                                                    <xs:element minOccurs="0" name="PaidForOccupationalPension" type="QuestionYesNoType"/>
                                                                    <xs:element minOccurs="0" name="OccupationalPension" type="PaymentWithFrequencyType"/>
                                                                    <xs:element minOccurs="0" name="PaidForPersonalPension" type="QuestionYesNoType"/>
                                                                    <xs:element minOccurs="0" name="PersonalPension" type="PaymentWithFrequencyType"/>
                                                                    <xs:element minOccurs="0" name="PaidForJobExpenses" type="QuestionYesNoType"/>
                                                                    <xs:element minOccurs="0" name="JobExpenses" maxOccurs="4">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element minOccurs="0" name="Expense" type="QuestionTextType"/>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                    <xs:element minOccurs="0" name="OtherEmployment" type="QuestionYesNoType"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="HavePartner" type="QuestionYesNoType"/>
                                            <xs:element minOccurs="0" name="Partner">
                                                <xs:complexType>
                                                    <xs:complexContent>
                                                        <xs:extension base="PersonType">
                                                            <xs:sequence>
                                                                <xs:element minOccurs="0" name="NationalityPartner" type="CitizenNationalityType"/>
                                                                <xs:element minOccurs="0" name="RelationshipStatus">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element minOccurs="0" name="SeparatedFromPartner" type="QuestionYesNoType"/>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element minOccurs="0" name="IsCaree" type="QuestionYesNoType"/>
                                                            </xs:sequence>
                                                        </xs:extension>
                                                    </xs:complexContent>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="OtherBenefits">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element minOccurs="0" name="ClaimantBenefits">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="StatePension" type="QuestionYesNoType" minOccurs="0"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="OtherMoneySSP" type="QuestionYesNoType"/>
                                                        <xs:element minOccurs="0" name="OtherMoneySSPDetails" type="StatutoryPay"/>
                                                        <xs:element minOccurs="0" name="OtherMoneySP" type="QuestionYesNoType">
                                                            <xs:annotation>
                                                                <xs:documentation>Statutory Maternity Pay (SMP), Statutory Paternity Pay (SPP) or Statutory Adoption Pay (SAP)</xs:documentation>
                                                            </xs:annotation>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="OtherMoneySPDetails" type="StatutoryPay"/>
                                                        <xs:element minOccurs="0" name="OtherMoney" type="QuestionYesNoType"/>
                                                        <xs:element minOccurs="0" name="OtherMoneyPayments" type="QuestionYesNoType"/>
                                                        <xs:element minOccurs="0" name="OtherMoneyDetails" nillable="false">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element minOccurs="0" name="Payment" type="PaymentWithFrequencyType"/>
                                                                    <xs:element minOccurs="0" name="Name" type="QuestionTextType"/>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="EEA">
                                                            <xs:annotation>
                                                                <xs:documentation>Applies to family as well and it is about EEA benefits</xs:documentation>
                                                            </xs:annotation>
                                                            <xs:complexType>
                                                                <xs:all>
                                                                    <xs:element minOccurs="0" name="EEAReceivePensionsBenefits" type="QuestionYesNoType"> </xs:element>
                                                                    <xs:element minOccurs="0" name="EEAClaimPensionsBenefits" type="QuestionYesNoType"/>
                                                                    <xs:element minOccurs="0" name="EEAWorkingInsurance" type="QuestionYesNoType"/>
                                                                </xs:all>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Payment">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element minOccurs="1" name="PaymentFrequency">
                                                            <xs:complexType>
                                                                <xs:complexContent>
                                                                    <xs:extension base="QuestionType">
                                                                        <xs:sequence>
                                                                            <xs:element name="Answer" type="DWPPaymentFrequency"/>
                                                                        </xs:sequence>
                                                                    </xs:extension>
                                                                </xs:complexContent>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="1" name="InitialAccountQuestion">
                                                            <xs:complexType>
                                                                <xs:complexContent>
                                                                    <xs:extension base="QuestionType">
                                                                        <xs:sequence>
                                                                            <xs:element name="Answer" type="AccountType"/>
                                                                        </xs:sequence>
                                                                    </xs:extension>
                                                                </xs:complexContent>
                                                            </xs:complexType>
                                                        </xs:element>
                                                        <xs:element minOccurs="0" name="Account">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="HolderName" type="SixtyTextType" minOccurs="0"/>
                                                                    <xs:element minOccurs="0" name="BuildingSocietyDetails">
                                                                        <xs:complexType>
                                                                            <xs:sequence>
                                                                                <xs:element name="AccountNumber">
                                                                                    <xs:simpleType>
                                                                                        <xs:restriction base="RestrictedStringType">
                                                                                            <xs:minLength value="6"/>
                                                                                            <xs:maxLength value="10"/>
                                                                                        </xs:restriction>
                                                                                    </xs:simpleType>
                                                                                </xs:element>
                                                                                <xs:element minOccurs="0" name="RollNumber">
                                                                                    <xs:simpleType>
                                                                                        <xs:restriction base="RestrictedStringType">
                                                                                            <xs:minLength value="1"/>
                                                                                            <xs:maxLength value="18"/>
                                                                                        </xs:restriction>
                                                                                    </xs:simpleType>
                                                                                </xs:element>
                                                                                <xs:element name="SortCode">
                                                                                    <xs:simpleType>
                                                                                        <xs:restriction base="xs:string">
                                                                                            <xs:pattern value="[0-9]{6}"/>
                                                                                        </xs:restriction>
                                                                                    </xs:simpleType>
                                                                                </xs:element>
                                                                                <xs:element name="Name" type="SixtyTextType"/>
                                                                            </xs:sequence>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="OtherInformation">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element minOccurs="0" name="WelshCommunication" type="QuestionYesNoType"/>
                                                        <xs:element maxOccurs="1" name="AdditionalInformation" type="QuestionLongTextType" minOccurs="0"/>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Declaration" type="DeclarationType" minOccurs="1"> </xs:element>
                                            <xs:element name="EvidenceList" minOccurs="0" type="EvidenceListType"> </xs:element>
                                            <xs:element name="Consents" type="ConsentsType"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="DWPCAChangeOfCircumstances">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="Claim">
                                                <xs:complexType>
                                                    <xs:sequence>
                                                        <xs:element name="ClaimantDetails" type="PersonType"> </xs:element>
                                                        <xs:element name="CareeDetails" type="PersonType"> </xs:element>
                                                    </xs:sequence>
                                                </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="OtherChanges" type="QuestionLongTextType"/>
                                            <xs:element name="Declaration" type="DeclarationType"> </xs:element>
                                            <xs:element name="EvidenceList" minOccurs="0" type="EvidenceListType"> </xs:element>
                                            <xs:element name="Consents" type="ConsentsType"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="ds:Signature"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="RestrictedStringType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z0-9\s~!&quot;@#$%&amp;'\(\)\*\+,\-\./:;&lt;=>\?\[\\\]_\{\}\^£€]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="LanguageType">
        <xs:annotation>
            <xs:documentation>A Common DataType Values from the ISO standard for 2 character language codes (ISO 639:1988 Code for the representation of names
                of languages). </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z]{2}"/>
            <xs:enumeration value="en"/>
            <xs:enumeration value="cy"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AddresLineType">
        <xs:restriction base="RestrictedStringType">
            <xs:maxLength value="60"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NationalInsuranceNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-CEGHJ-PR-TW-Z]{2}[0-9]{6}[ABCD\S]{1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CitizenNameType">
        <xs:restriction base="RestrictedStringType">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CitizenTitleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Mr"/>
            <xs:enumeration value="Mrs"/>
            <xs:enumeration value="Miss"/>
            <xs:enumeration value="Ms"/>
            <xs:enumeration value="Dr"/>
            <xs:enumeration value="Rev"/>
            <xs:enumeration value="Sir"/>
            <xs:enumeration value="Lord"/>
            <xs:enumeration value="Lady"/>
            <xs:enumeration value="Dame"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CitizenNationalityType">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryType">
        <xs:restriction base="RestrictedStringType">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="OtherTextType">
        <xs:restriction base="SixtyTextType"> </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhoneNumberType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9 \-]{7,20}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MaritalStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Married or civil partner"/>
            <xs:enumeration value="Single"/>
            <xs:enumeration value="Divorced or civil partnership"/>
            <xs:enumeration value="Widowed or surviving civil partner"/>
            <xs:enumeration value="Separated"/>
            <xs:enumeration value="Living with partner"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RelationshipType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Adopted Daughter"/>
            <xs:enumeration value="Adopted Son"/>
            <xs:enumeration value="Aunt"/>
            <xs:enumeration value="Brother"/>
            <xs:enumeration value="Brother-In-Law"/>
            <xs:enumeration value="Daughter"/>
            <xs:enumeration value="Daughter-In-Law"/>
            <xs:enumeration value="Father"/>
            <xs:enumeration value="Father-In-Law"/>
            <xs:enumeration value="Friend"/>
            <xs:enumeration value="Granddaughter"/>
            <xs:enumeration value="Grandfather"/>
            <xs:enumeration value="Grandmother"/>
            <xs:enumeration value="Grandson"/>
            <xs:enumeration value="Great-Granddaughter"/>
            <xs:enumeration value="Great-Grandfather"/>
            <xs:enumeration value="Great-Grandmother"/>
            <xs:enumeration value="Great-Grandson"/>
            <xs:enumeration value="Half-Brother"/>
            <xs:enumeration value="Half-Sister"/>
            <xs:enumeration value="Husband"/>
            <xs:enumeration value="Mother"/>
            <xs:enumeration value="Mother-In-Law"/>
            <xs:enumeration value="Nephew"/>
            <xs:enumeration value="Niece"/>
            <xs:enumeration value="Partner"/>
            <xs:enumeration value="Sister"/>
            <xs:enumeration value="Sister-In-Law"/>
            <xs:enumeration value="Son"/>
            <xs:enumeration value="Son-In-Law"/>
            <xs:enumeration value="Stepbrother"/>
            <xs:enumeration value="Stepdaughter"/>
            <xs:enumeration value="Stepfather"/>
            <xs:enumeration value="Stepmother"/>
            <xs:enumeration value="Stepsister"/>
            <xs:enumeration value="Stepson"/>
            <xs:enumeration value="Uncle"/>
            <xs:enumeration value="Wife"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TextBlockType">
        <xs:sequence>
            <xs:element minOccurs="0" name="Title" type="RestrictedStringType"/>
            <xs:element maxOccurs="10" name="Content" type="TwoThousandTextType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UKPostalAddressType">
        <xs:sequence>
            <xs:element maxOccurs="5" name="Line" type="AddresLineType"/>
            <xs:element minOccurs="0" name="PostCode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern
                                value="(GIR 0AA)|((([A-Z][0-9][0-9]?)|(([A-Z][A-HJ-Y][0-9][0-9]?)|(([A-Z][0-9][A-Z])|([A-Z][A-HJ-Y][0-9]?[A-Z])))) [0-9][A-Z]{2})"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuestionType">
        <xs:sequence>
            <xs:element name="QuestionLabel">
                <xs:simpleType>
                    <xs:restriction base="RestrictedStringType">
                        <xs:maxLength value="240"/>
                        <xs:minLength value="3"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuestionYesNoType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element name="Answer" type="YesNoType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestionLongTextType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element name="Answer" type="TwoThousandTextType"> </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestionDateType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element name="Answer" type="DateType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestionCountryType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element name="Answer" type="CountryType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestionRelationshipType">
        <xs:complexContent>
            <xs:extension base="QuestionOtherType">
                <xs:sequence>
                    <xs:element name="Answer" type="RelationshipType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestionTimeType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Answer" type="xs:time"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestionTextType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element name="Answer" type="SixtyTextType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="SixtyTextType">
        <xs:restriction base="RestrictedStringType">
            <xs:minLength value="1"/>
            <xs:maxLength value="60"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TwoThousandTextType">
        <xs:restriction base="RestrictedStringType">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ThreeHundredTextType">
        <xs:restriction base="RestrictedStringType">
            <xs:minLength value="1"/>
            <xs:maxLength value="300"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MoneyType">
        <xs:sequence>
            <xs:element minOccurs="0" name="Currency">
                <xs:annotation>
                    <xs:documentation>If no currency provided assume GBP</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="GBP"/>
                        <xs:enumeration value="EUR"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Amount">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="8"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuestionMoneyType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element minOccurs="1" name="Answer" type="MoneyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:simpleType name="FrequencyType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Weekly"/>
            <xs:enumeration value="Fortnightly"/>
            <xs:enumeration value="Four-Weekly"/>
            <xs:enumeration value="Monthly"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="QuestionOtherType">
        <xs:complexContent>
            <xs:extension base="QuestionType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="Other" type="OtherTextType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="QuestionFrequencyType">
        <xs:complexContent>
            <xs:extension base="QuestionOtherType">
                <xs:sequence>
                    <xs:element name="Answer" type="FrequencyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CareExpenseType">
        <xs:sequence>
            <xs:element minOccurs="0" name="CarerName" type="QuestionTextType"/>
            <xs:element minOccurs="0" name="Expense" type="PaymentWithFrequencyType"/>
            <xs:element minOccurs="0" name="RelationshipCarerToClaimant" type="QuestionRelationshipType"/>
            <xs:element minOccurs="0" name="RelationshipCarerToPartner" nillable="false" type="QuestionRelationshipType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NumberHoursType">
        <xs:restriction base="RestrictedStringType">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PaymentWithFrequencyType">
        <xs:sequence>
            <xs:element minOccurs="0" name="Payment" type="QuestionMoneyType"/>
            <xs:element minOccurs="0" name="Frequency" type="QuestionFrequencyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatutoryPay">
        <xs:sequence>
            <xs:element minOccurs="0" name="Payment" type="PaymentWithFrequencyType"/>
            <xs:element minOccurs="0" name="Name" type="SixtyTextType"/>
            <xs:element minOccurs="0" name="Address" type="UKPostalAddressType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AccountType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UK bank or building society"/>
            <xs:enumeration value="You don't have an account but intend to open one"/>
            <xs:enumeration value="Other - you would like more information"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DWPPaymentFrequency">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Weekly"/>
            <xs:enumeration value="Four-Weekly"/>
            <xs:enumeration value="Thirteen-Weekly"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TradingType">
        <xs:sequence>
            <xs:element minOccurs="0" name="DateStarted" type="QuestionDateType"/>
            <xs:element minOccurs="0" name="NatureBusiness" type="QuestionTextType"/>
            <xs:element minOccurs="0" name="TradingYear" type="PeriodType"> </xs:element>
            <xs:element minOccurs="0" name="SameIncomeOutgoingLevels" type="QuestionYesNoType"/>
            <xs:element minOccurs="0" name="WhyWhenChange">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="QuestionType">
                            <xs:sequence>
                                <xs:element name="Answer" type="ThreeHundredTextType"/>
                            </xs:sequence>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ChildCareExpensesType">
        <xs:complexContent>
            <xs:extension base="CareExpenseType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="RelationToChild" type="QuestionRelationshipType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CareeCareExpensesType">
        <xs:complexContent>
            <xs:extension base="CareExpenseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="RelationshipCarerToCaree" nillable="false" type="QuestionRelationshipType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ConsentsType">
        <xs:sequence>
            <xs:element maxOccurs="10" name="Consent" type="QuestionYesNoType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EvidenceListType">
        <xs:sequence>
            <xs:element name="RecipientAddress" type="UKPostalAddressType"/>
            <xs:element maxOccurs="50" minOccurs="1" name="Evidence" type="TextBlockType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeclarationType">
        <xs:restriction base="RestrictedStringType">
            <xs:minLength value="1"/>
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="Surname" type="CitizenNameType" minOccurs="0"/>
            <xs:element name="OtherNames" type="CitizenNameType" minOccurs="0"/>
            <xs:element minOccurs="0" name="OtherSurnames" type="CitizenNameType" maxOccurs="2"/>
            <xs:element name="Title" type="CitizenTitleType" minOccurs="0"/>
            <xs:element name="DateOfBirth" type="DateType" minOccurs="0"/>
            <xs:element minOccurs="0" name="NationalInsuranceNumber" type="NationalInsuranceNumberType"/>
            <xs:element minOccurs="0" name="Address" type="UKPostalAddressType"/>
            <xs:element minOccurs="0" name="DayTimePhoneNumber" type="PhoneNumberType"/>
            <xs:element minOccurs="0" name="MobileNumber" type="PhoneNumberType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PeriodType">
        <xs:sequence>
            <xs:element minOccurs="0" name="DateFrom" type="QuestionDateType"/>
            <xs:element minOccurs="0" name="DateTo" type="QuestionDateType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DateTimeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="(0[1-9]|[12][0-9]|3[01])-(0[1-9]|1[012])-(19|20)\d\d +([01][0-9]|2[0-3]):[0-5][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
